.about {
    margin-top: 109px;
    background: var(--mainWhite);
    width: 100%;
    height: 100vh;
    color: var(--mainBlack);
}

.about_content {
    background: var(--mainWhite);
    width: 100%;
    height: auto;
    color: var(--mainBlack);
    padding:  20px 0;
}