.about {
    margin-top: 50px;
    background: var(--mainWhite);
    width: 100%;
    height: auto;
    color: var(--mainBlack);
}

.about_content {
    background: var(--mainWhite);
    width: 100%;
    height: auto;
    color: var(--mainBlack);
    padding:  15px 0;
}

.about_container{
    width: 60%;
    height: auto;
    margin: 1px auto;
}

.about_container p {
    padding-bottom: 1.5px;
}