  
  .tagline {
    position: absolute;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0);
    font-size: 2.8rem;
    color: white;
    margin-top: 5%;
    text-align: center;
  }

  .button {
    position: absolute;
    width: 16%;
    height: auto;
    background: rgba(0, 0, 0, 0);
    font-size: 0.9rem;
    color: white;
    display:block;
    margin-top: 11%;
    text-align: center;
  }